@model ProviderModel
@{
    ViewData["Title"] = "Modificar Proveedor";
}

<h1> Modificar Proveedor</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <input asp-for="IdProvider" type="hidden" class="form-control">
                    <label asp-for="ProviderName" class="form-label">Nombre</label>
                    <input asp-for="ProviderName" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Phone" class="form-label">Telefono</label>
                    <input asp-for="Phone" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Delivery" class="form-label">Envios</label>
                    <input asp-for="Delivery" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>
